<div class='container'>
    <div class='header'>
        <div class='title'>Mongo Scraper</div>
        <button class='Btn' id='HomeBtn'>
            <a href="https://intense-badlands-32581.herokuapp.com/">
                Home
            </a>
        </button>
        <button class='Btn' id='SavedBtn'>
            <a href="https://intense-badlands-32581.herokuapp.com/saved">
                Saved Articles
            </a>
        </button>
        <button class='Btn' id='ScrapBtn'>
            <a href="https://intense-badlands-32581.herokuapp.com/scrap">
                Scrap New Article
            </a>
        </button>
        <button class='Btn' id='ClearBtn'>
            <a href="https://intense-badlands-32581.herokuapp.com/">
                Clear Articles
            </a>
        </button>
    </div>
    <div class='body'>
        {{#each posts}}
            <div class="articleBody">
                <div class="articleTitle" >
                    <a href={{URL}}>{{Headline}}</a>
                </div>
                <div class="articleSummary">
                    {{Summary}}
                </div>
                <br>
                <div class="articleComment">
                    Comments : {{Comments}}
                </div>
                <form class='commentSection'>
                    <label for="comment" class='commentLabel'>Add Additional Comment</label>
                    <input type="text" class='commentInput' id='comment{{id}}'>
                    <button class='commentBtn' data-id={{id}}>Submit</button>
                </form>
                <button class='deleteBtn' data-id={{id}}>
                    Delete Article
                </button>
            </div>
        {{/each}}
    </div>
    <div class='footer'>React JS Nnews Scraper using Express-Handlebars</div>
</div>